* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #111;
  padding: 0 16rem;
}

h1 {
  font-size: 2.2rem;
}

p {
  font-size: 1.6rem;
}

.fa-solid {
  color: #0065fc;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 2.2rem;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
}

.card-rating .fa-star {
  font-size: 14px;
}

.card-rating .neutral-star {
  font-size: 14px;
}

.neutral-star {
  color: #f2f2f2;
}
