* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
  margin: 0 auto;
  max-width: 1600px;
  
}

h1 {
  font-size: 2.2rem;
}

p {
  font-size: 1.6rem;
}

.fa-solid {
  /* Permet de rendre les 4 premières étoiles de couleurs bleur sur la partie hébergements et populaires */
  color: #0065fc;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 2.2rem;
}

li {
  list-style: none;
}

img {
  object-fit: cover;
}

.card-rating .fa-star {
  font-size: 1.4rem;
}

.card-rating .neutral-star {
  font-size: 1.4rem;
}

.neutral-star {
  /* Permet de rendre la dernière étoile neutre dans la partie hébergements et populaires */
  color: #f2f2f2;
}

