/***************/
/*HEADER*/
/***************/

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0 60px 0 40px;
}

.logo {
  height: 2.2rem;
}

/***************/
/* NAVIGATION*/
/***************/

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 100px;
}

.main-nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s; /*Temps de transition au hover de la nav-bar pour permettre le changement de couleur des éléments*/
}

.main-nav-link::before {
  /* Code permettant l'affichage d'une barre au dessus des éléments de la navbar au hover */
  content: "";
  position: absolute;
  top: -39px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0065fc;
  transition: 0.4s ease-in-out; /*Temps mis pour que la barre au dessus des éléments de la nav-bar s'affiche */
}

.main-nav-link:hover::before,
.main-nav-link:active::before {
  /*Permet à la barre qui s'affiche au dessus des éléments de la navbar de prendre 100% de la width de ces éléments au hover*/
  width: 100%;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0065fc;
}

.subheader {
  margin-top: 30px;
  padding: 0 40px;
}
.subheader h1 {
  margin-bottom: 10px;
}

.title p {
  margin: 5px;
}

/***************/
/* SEARCH AND FILTERS*/
/***************/

.search-and-filters {
  padding: 30px 40px;
}

form {
  display: flex;
}

.form-container {
  display: flex;
}

.form-container label {
  width: 50px;
  height: 40px;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
}

.center-flex {
  /*Permet l'alignement horizontal et vertical du logo localisation dans la partie SEARCH FORM et rendre l'élément cliquable */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-location-dot {
  color: #000;
  font-size: 1.6rem;
}

.btn-form-desktop {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  background-color: #0065fc;
  border: 1px;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  color: #fff;
}

#location {
  border: 1px solid #f2f2f2;
  border-right: none;
  padding-left: 20px;
}

.btn-form-mobile {
  display: none;
}

.filters {
  padding: 45px 0 0;
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.filters-title {
  font-size: 1.8rem;
}

.filters-logo {
  display: flex;
  gap: 25px;
}

.filters-logo .fa-money-bill-wave,
.filters-logo .fa-person,
.filters-logo .fa-heart,
.filters-logo .fa-fire {
  font-size: 1.8rem;
}

.filters p {
  border: 3px solid #d9d9d9;
  border-radius: 50px;
}

.eco,
.familly,
.romantic,
.pepites {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease; /*Temps mis pour le changement de la couleur du fond au hover des éléments sur la section filtres */
  padding: 10px 20px;
}

.eco:hover,
.familly:hover,
.romantic:hover,
.pepites:hover {
  background-color: #deebff;
}

.blue-filters {
  width: 22px;
  margin: 5px 10px 10px 0;
}

.info {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #000;
  padding: 35px 40px;
}

.icon-circle {
  /* Cela permet de créer un cercle autour du logo info */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  margin-right: 10px;
}

.icon-circle .fa-info {
  font-size: 1.5rem;
  color: #0065fc;
}

/***************/
/*HEBERGEMENTS & POPULAIRES*/
/***************/

main {
  padding: 0 50px;
  display: block;
}

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.hebergements-container,
.populaires-container {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
}

.euro {
  font-weight: bold;
}

.show-more {
  margin-top: 42px;
  display: flex;
  align-items: center;
  color: #000;
}

/*************** Hebergements ***************/
.hebergements-container {
  width: 67%;
  padding: 40px;
}

.item-1 {
  order: 1; /* L'ordre est identique à l'affichage du code html, d'abbord la class hebergements et ensuite la classe populaires */
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.hebergements-cards .card {
  border-radius: 30px;
  margin: 15px 0;
  width: 31%;
  height: 230px;
  cursor: pointer;
  border: 5px solid #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.379);
  background-color: #fff;
}

.hebergements-cards .card-content {
  padding: 10px 15px;
}

.hebergement-img {
  height: 60%;
}

.hebergements-container img {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0;
}

.hebergements-cards .card-subtitle {
  margin: 5px 0;
}

.card-rating {
  margin: 15px 0;
}

/*************** Populaires ***************/
.populaires-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background-color: #f2f2f2;
}

.item-2 {
  order: 2;
}

.populaires-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.populaires-cards a {
  display: flex;
  width: 100%;
}

.populaires-container h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.populaires-cards .card {
  border: 5px solid #fff;
  border-radius: 30px;
  overflow: hidden;
  height: 160px;
  /* min-width: 297px; */
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.379);
  background-color: #fff;
}

.populaire-img {
  width: 40%;
  height: 100%;
}

.fa-chart-line {
  /* Logo chart en display flex avec "Les plus populaires*/
  font-size: 2rem;
}

.populaires-cards .card-content {
  width: 65%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.6rem;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.card-title,
.card-subtitle {
  color: #000;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***************/
/*Activités*/
/***************/

.activites {
  margin-top: 75px;
}

.activites-cards {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
  width: 100%;
}

.activites-cards .card {
  position: relative;
  width: 23%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.379);
}

.activites-img {
  height: 100%;
}

.activites-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px 25px 0 0;
}

.activites .card-title {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: center;
}

/***************/
/*FOOTER*/
/***************/

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
  margin-top: 65px;
}

.about,
.footer-hebergements,
.footer-assitance {
  width: 30%;
}

.about h2,
.footer-hebergements h2,
.footer-assitance h2 {
  margin-bottom: 20px;
}

.item-footer {
  margin-bottom: 10px;
}

.item-footer a {
  color: #000;
  font-size: 1.4rem;
}

.item-footer a:hover {
  color: #0065fc;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filters {
    display: block;
  }

  .filters-logo {
    margin-top: 15px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements-container {
    width: 100%;
  }

  .populaires-container {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 100%;
    display: flex;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .header-main {
    flex-direction: column;
    margin-top: 35px;
  }

  form {
    height: 50px;
  }

  .form-container label {
    height: 50px;
  }

  .btn-form-desktop {
    display: none;
  }

  .btn-form-mobile {
    display: block;
    width: 50px;
    height: 100%;
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #0065fc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.379);
  }

  .fa-magnifying-glass {
    color: #fff; /* Correspond au logo en forme de loupe sur la partie formulaire */
  }

  .main-nav-link::before {
    background-color: #0065fc;
    height: 2px;
    top: 30px;
  }

  .main-nav-link:hover::before,
  .main-nav-link:active::before {
    width: 100%;
  }

  .subheader {
    flex-wrap: wrap;
  }

  .filters-logo {
    flex-wrap: wrap;
  }

  main {
    padding: 0;
  }

  .hebergements-container {
    background-color: #fff;
  }

  .hebergements-container h2 {
    margin: 10px 0;
  }

  .hebergements-cards .card {
    width: 100%;
    height: 230px;
  }

  .hebergement-img {
    height: 60%;
  }

  .populaires-container {
    padding: 20px;
    border-radius: 0;
  }

  .populaires-container {
    padding: 20px;
    border-radius: 0;
  }

  .populaires-cards {
    flex-direction: column;
    justify-content: center;
  }

  .activites {
    padding: 0 20px;
  }

  .activites-cards .card {
    width: 100%;
    height: 230px;
    margin-bottom: 25px;
  }

  .activites-cards {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  .item-2 {
    order: 1; /* La class populaires s'affichera vant la class hebergements */
  }

  .item-1 {
    order: 2;
  }

  .about,
  .footer-hebergements,
  .footer-assitance {
    margin-top: 35px;
  }
}
